header {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200;
}

header ul {
  list-style: none;
}

header ul li {
  background-color: rgba(0, 0, 0, 0.65);
  margin: 20px auto 0 auto;
  text-align: center;
}

header ul li.nav-selected {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: bold;
}

#main-nav-bar ul li {
  --header-nav-height: 30px;
  height: var(--header-nav-height);
  line-height: var(--header-nav-height);
  font-size: 1.2em;
  width: 90%;
}

#sub-nav-bar ul li {
  --header-nav-height: 25px;
  height: var(--header-nav-height);
  line-height: var(--header-nav-height);
  font-size: 0.9em;
  width: 70%;
  font-weight: 400;
}

@media all and (min-width: 992px) {
  header {
    max-width: 85vw;
    margin: 4vh auto auto auto;
  }

  header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #sub-nav-bar ul {
    width: 50vw;
    margin: auto;
  }

  #main-nav-bar ul li {
    width: 20%;
  }

  #sub-nav-bar ul li {
    width: 15vw;
  }
}

@media all and (min-width: 1200px) {
  #sub-nav-bar ul {
    width: 40vw;
    margin: auto;
  }

  #sub-nav-bar ul li {
    width: 10vw;
  }
}

@media all and (min-width: 1400px) {
  header {
    max-width: 69vw;
    margin: 4vh auto auto auto;
  }

  #main-nav-bar ul li {
    width: 15vw;
  }
}
