@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-MediumItalic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../assets/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../assets/fonts/Roboto-BlackItalic.ttf");
  font-style: italic;
}
