body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}
