#home-articles {
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-articles article {
  background-color: rgba(255, 255, 255, 0.3);
  width: 90vw;
  height: 300px;
  margin-bottom: 30px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#home-main-article h1,
#home-articles article h2 {
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  font-weight: 100;
  height: 70px;
  text-transform: uppercase;
}

#home-main-article h1 {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 2.8em;
  line-height: 70px;
}

#home-articles article h2 {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.8em;
  padding-top: 10px;
}

#home-articles article h2 span {
  font-weight: bold;
}

#home-articles .article-decorative-img {
  width: 100%;
  height: 70%;
}

#home-articles .article-decorative-img {
  background-image: url("../../assets/tile_image_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#home-articles #article-decorative-img-2 {
  background-image: url("../../assets/tile_image_2.png");
}
#home-articles #article-decorative-img-3 {
  background-image: url("../../assets/tile_image_3.png");
}
#home-articles #article-decorative-img-4 {
  background-image: url("../../assets/tile_image_4.png");
}
#home-articles #article-decorative-img-5 {
  background-image: url("../../assets/tile_image_5.png");
}

#home-articles .article-caption {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  padding: 5px;
}
